* {
    margin: 0px;
    padding: 0px;
}

body {
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

.navbar {
    background-color: coral;
    border-radius: 20px;
    padding: 10px;
}

.container {
    padding: 20px;
    
}

.booklistbox {
    background-color: lightcoral;
    color: white;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    margin: 20px;
    vertical-align: top;
    display: inline-block;
}

.booklistbox h3 {
    color: black;
}

.booklistbox h4 {
    color: black;
}

.booklistbox p {
    padding: 20px;
}

.booklistbox button {
    background-color: #fd6569;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
}

.plus-button {
    background-color: #fd6569;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
    font-size: 40px;
    background-color: #fd6569;
    color: black;
    border: none;
    
}

.popup-overlay {
    background-color: black;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
}

.popup-from {
    background-color: #fd6569;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 20%;
    padding: 30px;
    z-index: 2;
    border: none;
    display: none;
}

.popup-from input {
    margin: 10px;
    border: none;
    background: transparent;
    color: white;
    width: 100%;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.popup-from textarea {
    margin: 10px;
    background: transparent;
    color: white;
    width: 100%;
    font-size: 20px;
    border: solid black 2px;
}

.popup-from ::placeholder {
    color: black;
}

.popup-from button {
    padding: 8px;
    background-color: black;
    color: white;
    margin-right: 20px;
    border-radius: 10px;

}

.popup-from input:focus {
    outline: none;
}

.popup-from textarea:focus {
    outline: none;
}